* {
	/*border: 1px solid red; */
}

body {
	margin: 0;
}

#clicker {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -4px;
}

#aircon {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
}

#bulb {
	border-radius: 50%;
	width: 80px;
}

#bulb:active {
	background-color: #FFFC90;
	box-shadow: #E0DA0F 1px 1px 100px;
	border-radius: 100%;
}

#temp-control {
	display: flex;
	flex-direction: row;
	align-items: center;
}

p.temperature {
	font-size: 100px;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	margin: 0;
}

#up-down {
	display: flex;
	flex-direction: column;
}

#mode {
	display: flex;
	flex-direction: row;
}

#fan-speed {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	align-items: center;
}

#lock {
	margin-left: 35px;
}

#password-input {
	display: flex;
	align-items: center;
	margin-top: 30px;
	height: 75px;
}

#unlock {
	margin-left: 29px;
}

#password-input > input {
	width: 150px;
}

#power-icon[data-powered="true"] {
	background-color: #FF7722;
	border-radius: 50%;
}

/* Prevent a gray rectangle from displaying over our touchable elements */
svg {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
